body {
    margin: 0;
    overflow-x: hidden;
}
footer{ 
    background-color: #DB4444;
    padding: 50px;
    color: white;
   margin-top: 20px;
    height: 360px;

}
.fo-main-display{
display: flex;
justify-content: space-between;
 border-bottom: 2px solid lightgray;

}

footer input{
    border: white;
    padding: 10px;
}
.ficon-1{
position: relative;
right: 40px;
color: black;
font-size: 20px;
}

.footer-img1{
   height: 70px;
   margin-top: 10px;
   width: 80px;
}
.footer-img2{
   height: 125px;
   width: 120px;
  

}
.footer-img3{
   height: 105px;
   width: 110px;
   padding: 0;
   margin: 0;
}

.small-img-container{
  
    width: 115px;
    height: 78px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
 
}
.re{

    width: 115px;
    height: 68px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 6px;
}
.mcon{
    display: flex;
   
    height: 80px;
    align-items: center;
}
.save{
    margin-bottom: 0;
}
.fo-icons{
   display: flex;
   justify-content: space-between;
   position: relative;
right: 75px;
font-size: 25px;

}
.fo-icons {
    margin-right:-40px;
}
.small-img-container{
    margin-top: 20px;
}
.copyright-p{
    color: lightgray;
    text-align: center;
    margin-top: 20px;
   
}




