body{
    height: 100vh;
}
#sign-p{
    margin-bottom: 14px;
}

main{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 100px;
    margin-bottom: 200px;
}
.sign-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
    height: 596px;
}
.sign-form input{
    border: 1px solid lightgray;
    width: 90%;
    padding: 5px;
    border-radius:5px ;
}
.sign-form label{
    margin-bottom: 10px;
}
.submit{
    background-color: #DB4444;
    border: none;
    padding: 10px 20px;
    width: 90%;
    color: white;
    border-radius: 5px;
   
}
.sign-form h1{
    font-family: sans-serif;
}


