main{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 100px;
   
}
.log-in{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 400px;
    height: 596px;
}
.log-in input{
    border: 1px solid lightgray;
    width: 90%;
    padding: 5px;
    border-radius:5px ;
}
.log-in label{
    margin-bottom: 25px;
}
.submit{
    background-color: #DB4444;
    border: none;
    padding: 10px 20px;
    width: 90%;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
   
}
.sign-form h1{
    font-family: sans-serif;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    
}

